.about-us-container {
  padding: 50px;
  font-family: "Segoe UI", sans-serif;
  color: #1d3557;
  padding-left: 70px;
}

.about-us-container h1 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: #2b2d42;
  margin-top: 15px;
}

.about-us-container h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  color: #2b2d42;
}

.about-us-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;

  text-indent: 30px;
}

.about-us-container ul {
  padding-left: 20px;
  margin-top: 10px;
}

.about-us-container ul li {
  margin-bottom: 8px;
  line-height: 1.5;
  color: #333;
}
